[env]
_.python.venv = { path = ".venv", create = true }

[tools]
python = "3.11"
uv = "0.9.28"

[settings]
python.uv_venv_auto = true


[tasks.format]
run = [
    "uv run ruff format",
    "uv run ruff check --fix"
]

[tasks.sync-deps]
run = "uv sync --all-packages --all-extras"

[tasks.test]
run = "uv run --all-packages pytest"

[tasks."docs:build"]
env = { 'LC_ALL' = "C.UTF-8" }
run = "uv run sphinx-build -b dirhtml docs/ docs/_build/html/"

[tasks."docs:serve"]
env = { 'LC_ALL' = "C.UTF-8" }
run = "uv run sphinx-autobuild -b dirhtml docs/ docs/_build/html/"
